*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI',  sans-serif;
}
body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: linear-gradient(136deg, #667eea, #764ba2);
}
.container{
    width: 400px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background: #667eea;
    color:#fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background: #5563c1;
}
a{
    display: block;
    text-align: center;
    color: #667eea;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.dashboard {
  display: flex;
  min-height: 100vh;
}


.sidebar {
  width: 250px;
  background: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #2563eb, #3b82f6);
  color: white;
  padding: 15px 25px;
}


.content {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
@media (max-width:768px){
  .sidebar {
    display:none;

  }
  .content {
    grid-template-columns: 1fr;
  }
}